.tooltip {
	--tooltip_width: 280px;
}

.leaflet-tooltip {
	max-width: var(--tooltip_width);
	white-space: normal !important;
}
.tooltip header {
	display: flex;
}
.tooltip header .name {
	flex-grow: 2;
}
.tooltip header .rating-background {
	border-radius: 5%;
	height: 25px;
	padding: 0 3px;
}
.tooltip header .rating {
	color: #FFF;
	margin-block-start: 0;
	margin-block-end: 0;
}
.tooltip header .rating-background.strong {
	background-color: var(--green01);
}
.tooltip header .rating-background.moderate {
	background-color: var(--yellow01);
}
.tooltip header .rating-background.low\/no {
	background-color: var(--red01);
}


.App .tooltip p {
	line-height: 1.1rem;
	margin-bottom: 0;
}
.tooltip .tooltip-image {
	max-width: var(--tooltip_width);
}

.tooltip .footer {
	color: var(--grey02);
	margin-bottom: 0;
}